.realtors {
  background-color: $color-secondary;
  grid-column: col-start 7 / full-end;
  padding: 3rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: $bp-medium) {
    grid-column: 1 / -1;
  }

  &__list {
    display: grid;
    grid-template-columns: min-content max-content;
    grid-gap: 2rem;
    align-items: center;
    margin-top: 3rem;

    @media screen and (max-width: $bp-medium) {
      grid-template-columns: repeat(3, min-content max-content);
    }

    @media screen and (max-width: $bp-small) {
      grid-template-columns: min-content max-content;
    }
  }

  &__sold {
    text-transform: uppercase;
    font-size: 1.3rem;
  }

  &__img {
    width: 10rem;
    border-radius: 50%;
  }
}
